// Mixins in here

.mainBroader {

 border-top: 2px dashed #C0C0C0;


}


.signButton (@background, @fontColor)

{
	padding: 5px 20px;
	background: @background;
	border: 1px sold gray;
	margin: 10px;
	border-radius: 20px;
	display: inline-block;
	color: @fontColor;
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 2rem;
  padding-top: 15px;


 }





