// Mixins in here

.mainBroader {

 border-top: 2px dashed #C0C0C0;


}


.signButton (@background, @fontColor)

{
	padding: 5px 20px;
	background: @background;
	border: 1px sold gray;
	margin: 10px;
	border-radius: 20px;
	display: inline-block;
	color: @fontColor;
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 2rem;
  padding-top: 15px;


 }

.leftRight (@animSpeed, @animRest)

{

    animation: square-to-circle @animSpeed @animRest infinite cubic-bezier(1,.015,.295,1.225) alternate;


}



@keyframes square-to-circle {
  0%  {

    background-color: #3FE0D0;
    transform: rotate (0deg);
  }
  25%  {

    background: #7EF9FF;
    transform: rotate (45deg);
  }
  50%  {

    background: #4F97A3;
    transform: rotate (90deg);
  }
  75%  {

    background: #008ECC;
    transform: rotate (135deg);
  }
  100% {

    background: #1034A6;
    transform: rotate (180deg);
  }
}



